.markdown p,
ul {
  margin: 20px;
  font-size: 24px;
}

.markdown p {
  margin-top: 30px;
}

#theme-switch:has(input:not(:checked)) + .markdown * {
  font-weight: bold;
}

.markdown details {
  margin-top: 10px
}

.markdown details > p, .markdown details > summary {
  font-style: italic;
  font-size: 0.8em;
}

.markdown details > p {
  padding: 10px;
  border: 1px dashed var(--font-color);
}

.markdown summary:hover {
  cursor: pointer;
}

.markdown img {
  margin: 0 auto;
  display: block;
  width: 90%;
}

.markdown ul {
  margin-left: 30px;
}

.markdown blockquote {
  font-style: italic;
  margin-left: 10px;
  padding-left: 20px;
  border-left: 9px solid var(--font-color);
  box-sizing: border-box;
}

.markdown blockquote p {
  font-size: 20px;
}

.markdown h1 {
  margin-bottom: 80px;
}

.markdown h1::after {
  text-align: right;
  font-size: 0.4em;
  display: block;
  content: attr(date);
  font-style: italic;
  color: gray;
}

@media (max-width: 530px) {
  .markdown p, .markdown ul {
    font-size: 20px;
  }
  .markdown blockquote p {
    font-size: 15px;
  }
}
