<div id="links">
  <ul>
    <li>
      <a href="{{{links.inst}}}" target="_blank"
        ><img
          id="inst-icon"
          src="https://image.similarpng.com/very-thumbnail/2020/07/Instagram-black-and-white-logo-Premium-vector-PNG-.png"
      /></a>
    </li>
    <li>
      <a href="{{{links.vk}}}" target="_blank"
        ><img
          id="vk-icon"
          src="https://cdn-icons-png.flaticon.com/512/25/25684.png"
      /></a>
    </li>
    <li>
      <a href="{{{links.youtube}}}" target="_blank">
        <img
          id="youtube-icon"
          src="https://user-images.githubusercontent.com/8548846/29327665-e39a25f2-81bd-11e7-977c-9aca93e119ea.png"
        />
      </a>
    </li>
    <li>© {{year}}</li>
  </ul>
</div>
