/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
/* custom */
@import "./components/headers.css";

/* theme */
@import "./themes/light.css";
@import "./themes/dark.css";
@import "./components/markdown.css";

* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant', serif;
}

a {
  color: var(--font-color);
}

a:hover {
  color: #2196f3;
}

body {
  padding-top: 100px;
  background: var(--back-color);
  color: var(--font-color);
}

.container {
  max-width: min(960px, 80%);
  margin: 0 auto;
  font-size: 24px;
}

/* media queries */
@media (max-width: 750px) {
  .container {
    width: 90%;
  }
}
