#greeting {
  margin-top: 200px;
}

#greeting img {
  display: block;
  margin: 0 auto; /* old school center haha */
  margin-top: 20px;
  border-radius: 50%;
  width: 40%;
  margin-bottom: 20px;
  box-shadow: var(--greeting-shadow-color) 0px 0px 30px -5px;
}

#greeting p a {
  display: block;
}

#greeting p {
  margin-top: 5px;
  text-align: center;
  font-size: 40px;
}
