<h2>ТА ДАМ!</h2>
<br />
<br />
<div class="grid-container blog-content">
  <div>
    <div style="background-image: url('{{{baseUrl}}}/images/ex1.png')"></div>
    <a href="{{{baseUrl}}}/posts/post-one.html">Пост1</a>
  </div>
  <div>
    <div style="background-image: url('{{{baseUrl}}}/images/ex1.png')"></div>
    <a href="{{{baseUrl}}}/posts/post-one.html">Пост1</a>
  </div>
  <div>
    <div style="background-image: url('{{{baseUrl}}}/images/ex1.png')"></div>
    <a href="{{{baseUrl}}}/posts/post-one.html">Пост1</a>
  </div>
  <div>
    <div style="background-image: url('{{{baseUrl}}}/images/ex1.png')"></div>
    <a href="{{{baseUrl}}}/posts/post-one.html">Пост1</a>
  </div>
  <div>
    <div style="background-image: url('{{{baseUrl}}}/images/ex1.png')"></div>
    <a href="{{{baseUrl}}}/posts/post-one.html">Пост1</a>
  </div>
  <div>
    <div style="background-image: url('{{{baseUrl}}}/images/ex1.png')"></div>
    <a href="{{{baseUrl}}}/posts/post-one.html">Пост1</a>
  </div>
</div>
