<h2>ТА ДАМ!</h2>
<div class="grid-container">
  <div>
    <a href="/posts/post-one.html">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nisi
        labore perspiciatis placeat debitis! Voluptates animi hic vitae odit
        blanditiis delectus laboriosam totam nulla. Animi ea labore cum unde
        quod.
      </p>
    </a>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nisi labore
      perspiciatis placeat debitis! Voluptates animi hic vitae odit blanditiis
      delectus laboriosam totam nulla. Animi ea labore cum unde quod.
    </p>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nisi labore
      perspiciatis placeat debitis! Voluptates animi hic vitae odit blanditiis
      delectus laboriosam totam nulla. Animi ea labore cum unde quod.
    </p>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nisi labore
      perspiciatis placeat debitis! Voluptates animi hic vitae odit blanditiis
      delectus laboriosam totam nulla. Animi ea labore cum unde quod.
    </p>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nisi labore
      perspiciatis placeat debitis! Voluptates animi hic vitae odit blanditiis
      delectus laboriosam totam nulla. Animi ea labore cum unde quod.
    </p>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nisi labore
      perspiciatis placeat debitis! Voluptates animi hic vitae odit blanditiis
      delectus laboriosam totam nulla. Animi ea labore cum unde quod.
    </p>
  </div>
</div>
