<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="{{{baseUrl}}}/common.css" />
    <link rel="stylesheet" href="{{{baseUrl}}}/components/components.css" />
    <link rel="shortcut icon" href="{{{baseUrl}}}/favicon.ico" type="image/x-icon"/>
    <title>Dmitry Khorkin</title>
  </head>
  <body>