{{> ../components/prolog&epilog/prolog.html }}

  {{> ../components/theme-switch/theme-switch.html }}
  <main class="container">

  {{> ./post-one.md }}

  </main>

{{> ../components/prolog&epilog/epilog.html }}
